@charset "utf-8";

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'), url('cac_champagne.ttf') format('truetype');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'), url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Paige Mabbitt
   Date:  9.7.18 
   
   Filename: lake_styles.css

*/
/*Genral Body Styles*/
html {
    background-color: rgb(140, 140, 140);
}

body {
    color: rgb(167, 164, 164);
    background-color: rgba(5, 15, 70, 0.5);
}

/*Header Nav*/
a {
    color: rgb(140, 140, 140);
    text-decoration: none;
}

header nav {
    background-color: rgba(31, 7, 63, 0.76);
    font-family: Dobkin;
    font-size: 1.2em;
}

header a:hover {
    background-color: rgba(31, 7, 63, 0.9);
    color: rgb(230, 230, 230), white;
}

/*Section Style*/
section#rightcol {
    background-color: rgba(29, 13, 49, 0.8);
}

section#rightcol h2 {
    text-decoration: underline;
    font-family: Dobkin;
    font-size: 2em;
}

section#rightcol nav ul li {
    list-style: none;
}

section#rightcol a:hover {
    color: rgb(230, 230, 230);
}

section#leftcol>h1 {
    font-family: Champagne;
    font-size: 4em;
    margin: 5px 0px 3px;
}

section#leftcol>p::first-letter {
    font-family: Champagne;
    font-size: 1.6em;
}

section#leftcol aside {
    color: rgb(47, 1, 131);
}

section#leftcol aside:first-of-type {
    background-color: rgba(255, 247, 97, 0.85);
}

section#leftcol aside:last-of-type {
    background-color: rgba(255, 121, 97, 0.85);
}

section#leftcol aside h1 {
    font-family: Dobkin;
    font-weight: bold;
    font-size: 2em;
}

section#leftcol aside h2 {
    font-weight: normal;
    font-size: 1.3em;
    text-decoration: underline;
}

section#leftcol aside a:hover {
    color: rgb(47, 1, 131);
}

/*Blockquote*/
blockquote {
    font-style: italic;
    font-size: 1.1em;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

/*Footer*/
footer {
    text-align: center;
    background-color: rgba(31, 7, 63, 0.76);
}